* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


body{
    background: black;
} 

h1{
    color: white;
}
a {
    color: unset;
    text-decoration: none;
}


.gradient__bg{
        /* ff 3.6+ */
        background:-moz-linear-gradient(203deg, rgba(0, 0, 0, 1) 0%, rgba(102, 10, 10, 1) 73%, rgba(215, 114, 8, 1) 100%); 

        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(203deg, rgba(0, 0, 0, 1) 0%, rgba(102, 10, 10, 1) 73%, rgba(215, 114, 8, 1) 100%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(203deg, rgba(0, 0, 0, 1) 0%, rgba(102, 10, 10, 1) 73%, rgba(215, 114, 8, 1) 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D77208', endColorstr='#000000', GradientType=1 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(203deg, rgba(0, 0, 0, 1) 0%, rgba(102, 10, 10, 1) 73%, rgba(215, 114, 8, 1) 100%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(203deg, rgba(0, 0, 0, 1) 0%, rgba(102, 10, 10, 1) 73%, rgba(215, 114, 8, 1) 100%);
}


