* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


body{
    background: black !important;
} 

h1{
    color: white;
}
a {
    color: unset;
    text-decoration: none;
}


.gradient__bg{
        /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(57, 0, 0, 1) 0%, rgba(70, 0, 0, 1) 24%, rgba(46, 0, 0, 1) 54%, rgba(37, 1, 1, 1) 79%, rgba(26, 1, 1, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(57, 0, 0, 1) 0%, rgba(70, 0, 0, 1) 24%, rgba(46, 0, 0, 1) 54%, rgba(37, 1, 1, 1) 79%, rgba(26, 1, 1, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(57, 0, 0, 1) 0%, rgba(70, 0, 0, 1) 24%, rgba(46, 0, 0, 1) 54%, rgba(37, 1, 1, 1) 79%, rgba(26, 1, 1, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(57, 0, 0, 1) 0%, rgba(70, 0, 0, 1) 24%, rgba(46, 0, 0, 1) 54%, rgba(37, 1, 1, 1) 79%, rgba(26, 1, 1, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(57, 0, 0, 1) 0%, rgba(70, 0, 0, 1) 24%, rgba(46, 0, 0, 1) 54%, rgba(37, 1, 1, 1) 79%, rgba(26, 1, 1, 1) 100%);
}


