* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbig{
    display: flex;
    justify-content: center;
    background:-moz-radial-gradient(circle at 52% 100%, rgba(57, 0, 0, 1) 4%, rgba(70, 0, 0, 1) 26%, rgba(46, 0, 0, 1) 48%, rgba(37, 1, 1, 1) 71%, rgba(5, 0, 0, 1) 91%);
    background:-webkit-radial-gradient(circle at 52% 100%, rgba(57, 0, 0, 1) 4%, rgba(70, 0, 0, 1) 26%, rgba(46, 0, 0, 1) 48%, rgba(37, 1, 1, 1) 71%, rgba(5, 0, 0, 1) 91%);
    background:-o-radial-gradient(circle at 52% 100%, rgba(57, 0, 0, 1) 4%, rgba(70, 0, 0, 1) 26%, rgba(46, 0, 0, 1) 48%, rgba(37, 1, 1, 1) 71%, rgba(5, 0, 0, 1) 91%);
    background:-ms-radial-gradient(circle at 52% 100%, rgba(57, 0, 0, 1) 4%, rgba(70, 0, 0, 1) 26%, rgba(46, 0, 0, 1) 48%, rgba(37, 1, 1, 1) 71%, rgba(5, 0, 0, 1) 91%);
    background:radial-gradient(circle at 52% 100%, rgba(57, 0, 0, 1) 4%, rgba(70, 0, 0, 1) 26%, rgba(46, 0, 0, 1) 48%, rgba(37, 1, 1, 1) 71%, rgba(5, 0, 0, 1) 91%);
}

.nav-main {
    margin-left: auto;
    margin-right: auto;
  }
  
.Nav-container .nav-link{
    display: flex;
    align-items: center;
    color: white !important;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
}

